form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(72, 72, 103);
    color: white;
    text-align: center;
    height: 120vh;
    margin: 0;
}
input{
    width: 20em;
    height: 2em;
    margin-bottom: 1em;
    border-radius: 1.5em;
}
select{
    width: 20em;
    height: 2em;
    margin-bottom: 1em;
    border-radius: 1.5em;
}
::placeholder{
    text-align: center;
}
input:focus:invalid{
    border: 2px solid red; 
}
label{
    text-align: center;
    font-weight: 600;
}

@media (max-width: 800px) {
    h2{
        font-size:large;
    }
    form{
        height: 120vh;
        padding: 0 20px ;
    }
    input,select{
        width: 15em;
    }
    
}